@media screen and (min-width: 577px){
    #loginBody{
        font-family:"Peyda";
        /* background-color: #fff; */
        background-image: linear-gradient(to right,  #F64162, #ff5865);
        height:100vh;
        overflow: hidden;
        margin:0;
    }
    #loginHeader{
        display:none;
    }
    #loginContainer{
        background-color: #F9FAFC;
        width: 26%;
        height:-webkit-fit-content;
        height:-moz-fit-content;
        height:fit-content;/*35vh;*/
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        border-radius: 20px;
        padding:1%;
    }
    #loginContainerHeaderFigureLogo{
        display:none;
    }
    #loginContainerHeaderFigureLogoDesktop{
        width:15%;
    }
    #loginContainerHeader{
        text-align: center;
    }
    #loginContainerHeaderFigureCaption{
        color: #F66162;
        /* font-family:"PeydaLight"; */
        font-weight: bold;
    }
    #loginContainerHeader hr{
        border-top: 1px solid #747A82;
        max-width: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }
    #loginContainerBody{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }
    #loginContainerBody label{
        color: #707070;
        font-size:16px;
    }
    #loginContainerBody input{
        width:100%;
        margin-top:2%;
        border: 1px solid #747A82;
        height:5vh;
        text-align: center;
        border-radius: 12px;
         font-family: "PeydaLight","Peyda"; 
    }
    #loginContainerBody input:focus{
        outline: none;
    }
    #sendConfirmCodeButton{
        margin-top: 5%;
        color: #F9FAFC;
        background-image: linear-gradient(to right,  #F64162, #ff5865);
        width: 100%;
        border: none;
        height:5vh;
        font-size: 16px;
        border-radius:12px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        font-family: "PeydaLight","Peyda";
    }
    #loginButton{
        margin-top: 5%;
        color: #F9FAFC;
        background-image: linear-gradient(to right,  #F64162, #ff5865);
        width: 100%;
        border: none;
        height:5vh;
        font-size: 16px;
        border-radius:12px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        font-family: "PeydaLight","Peyda";
    }
    #error{
        color: #fff;
        background-color: black;
        text-align: center;
        margin-top: 1%;
        border-radius:12px;
        padding:1%;
        margin-left: 10%;
        margin-right: 10%;
        opacity: 0;
    }
    #loginContainerMobile{
        display:none;
    }
    #loginDesktopContainer{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: -8%;
    }
    #loginDesktopHeader{
        width: 100%;
        text-align:right;
    }
    #loginDesktopHeader img{
        max-width: 80%;
    }
    #boyIcon{
        width:40vw;
    }
    #boyIcon img{
        max-width: 100%;
    }
    #timer{
        color: #707070;
        margin-top:5%;
    }
    #timerLink{
        color: #707070;
        text-decoration: underline;
        width:auto;
        display:none;
        margin-top:5%;
    }
    #timerLink:hover{
        color: #F64162;
        text-decoration: underline;
        cursor: pointer;
    }
}
@media screen and (max-width:576px) {
   
    #loginBody{
       background-image: linear-gradient(to right,  #F64162, #ff5865);
        background-size:cover;
        background-repeat: no-repeat;
        height:100vh;
        overflow: hidden;
        font-family:"Peyda";
    }
    #loginContainer{
        background-color: #F9FAFC;
        margin-left:5%;
        margin-right:5%;
        margin-top:10%;
        padding-top:2%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    }
    #loginHeader{
        text-align: center;
        margin-top:20%;
    }
    #logoImage{
        width:26%;
    }
    #logoCaption{
        color: #fff;
        text-align: center;
    }
    #loginContainerHeader{
        text-align: center;
    }
    #loginContainerHeaderFigureLogo{
        width:16%;
    }
    #loginContainerHeaderFigureCaption{
        color: #747A82;
    }
    #loginContainerHeader hr{
        border-top: 1px solid #747A82;
        width: 100%;
    }
    #loginContainerBody{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-top: 5%;
    }
    #loginContainerBody label{
        color: #707070;
        font-size:16px;
    }
    #phoneNumberInputMobile{
        width:100%;
        margin-top:2%;
        border: 1px solid #747A82;
        height:5vh;
        text-align: center;
        border-radius: 2vw;
        font-family: "PeydaLight","Peyda";
    }
    #phoneNumberInputMobile:focus{
        outline: none;
    }
    #codeInputMobile:focus{
        outline: none;
    }
    #codeInputMobile{
        width:100%;
        margin-top:2%;
        border: 1px solid #747A82;
        height:5vh;
        text-align: center;
        border-radius: 2vw;
        font-family: "PeydaLight","Peyda";
    }
    #sendConfirmCodeButton{
        margin-top: 5%;
        color: #F9FAFC;
        background-image: linear-gradient(to right,  #F64162, #ff5865);
        width: 100%;
        border: none;
        height:5vh;
        font-size: 16px;
        border-radius:2vw;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        font-family: "PeydaLight","Peyda";
    }
    #sendConfirmCodeButtonMobile{
        margin-top: 5%;
        color: #F9FAFC;
        background-image: linear-gradient(to right,  #F64162, #ff5865);
        width: 100%;
        border: none;
        height:5vh;
        font-size: 16px;
        border-radius:2vw;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        font-family: "PeydaLight","Peyda";
    }
    #loginButtonMobile{
        margin-top: 5%;
        color: #F9FAFC;
        background-image: linear-gradient(to right,  #F64162, #ff5865);
        width: 100%;
        border: none;
        height:5vh;
        font-size: 16px;
        border-radius:2vw;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        font-family: "PeydaLight","Peyda";
    }
    #error{
        color: #fff;
        background-color: black;
        text-align: center;
        margin-top: 10%;
        border-radius:12px;
        padding:2%;
        margin-left: 10%;
        margin-right: 10%;
        opacity: 0;
    }
    #loginContainerMobile{
        display:block;
    }
    #loginDesktopContainer{
        display: none;
    }
    #loginDesktopHeader{
        display: none;
    }
    #timerMobile{
        color: #707070;
        margin-top:5%;
    }
    #timerMobileLink{
        color: #707070;
        text-decoration: underline;
        width:auto;
        display:none;
        margin-top:5%;
    }
    #timerMobileLink:hover{
        color: #F64162;
        text-decoration: underline;
        cursor: pointer;
    }
}
#MobileMenuContainer{
    margin:0;
    padding:0;
    overflow:hidden;
    font-family: "PeydaLight","Peyda";
    text-align: right;
}
#MobileMenuHeader{
    display:flex;
    justify-content:space-around;
    flex-direction:row;
    direction:rtl;
    margin-top: 5%;
    color: #fff;
    align-self: flex-start;
}
#HamburgerIcon{
    align-self: flex-end;
}
#HamburgerIcon img{
    width: 45%;
}
#KhoshNazarText{
    font-size:4vw;
    margin-top:-2%;
    font-family: "PeydaRegular";
}
#GoBack{
    font-size:3vw;
    font-family: "PeydaRegular";
}
.MobilSidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    color:#fff;
    border-left: 1px solid #fff;
    background-image: linear-gradient(180deg,  #F64162, #ff5865);
    overflow-x: hidden;
    transition: 0.5s;
    }
#main {
    transition: margin-left .5s;
    padding: 20px;
}
#mobileSidebarHeader{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    direction:rtl;
    margin-top:15%;
}
#SidebarKhoshNazarText{
    font-size:4vw;
    font-family: "PeydaRegular";
}
#SidbarGoBack{
    font-size:4vw;
    font-family: "PeydaRegular";
}
@media screen and (min-width: 577px){
    #MobileDashboardExamCategoryContainer{
        display: none;
    }
    #MobileDashboardExamCategoryHeader{
        display: none;
    }
    #MobileDashboardExamFooterButton{
        display: none;
    }
    #MobileDashboardExamExitButton{
        display: none;
    }
   
}
@media screen and (max-width:576px){
   
    #MobileDashboardExamCategoryHeader{
        display:flex;
        color:#fff;
        direction:rtl;
        margin-top:5%;
        margin-right: 10%;
        margin-bottom:5%;
        justify-content:flex-start;
    }
    #MobileDashboardExamCategoryHeader img{
        width:15%;
    }
    #MobileDashboardExamCategoryHeader span{
        align-self: center;
    }
    #MobileDashboardExamCategoryContainer{
        background-color:#F9FAFC;
        height:auto;
        border-radius:20px;
        margin-left: 3%;
        margin-right: 3%;
        padding-bottom: 5%;
    }
    #MobileDashboardExamCategoryImage{
        width:100%;
        text-align: center;
    }
    #MobileDashboardExamCategoryImage img{
        width:15%;
        margin-top: -7%;
    }
    
    #MobileDashboardExamFooterButton{
        background-color: #c11445;
        border-radius:20px;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 3%;
        height:10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        direction:rtl;
    }
    #MobileDashboardExamFooterButton img{
        max-width:60%;
        margin-top: 10%;
    }
    #MobileDashboardExamExitButton{
        display: flex;
        direction:rtl;
        justify-content:flex-start;
        color: #fff;
        margin-top: 3%;
        margin-right: 5%;
    }
    #MobileDashboardExamExitButton img{
        width:8%;
    }
    
    #MobileDashboardExamExitButton a{
        align-self: center;
        text-decoration: none;
        color: #fff;
        font-size: 3vw;
    }
    #MobileDashboardExamCategorySlider{
        margin-top: -5%;
    }
    .MobileCategoryContainer{
        background-color: #fff;
        border-radius: 20px;
        margin-top: 3%;
        display: flex;
        align-items: center;
        justify-content:space-between;
        direction:ltr;
        margin-left: 3%;
        margin-right: 3%;
        padding:2%;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    }
    .categoryData{
        display: flex;
        justify-content:flex-end;
        align-items:center;
        flex-direction: row;
        direction:rtl;
    }
    .categoryData hr{
        height: 6vh;
    }
    .categoryDataImages{
        width: 100%;
        max-width:20%;
        margin-right: 8%;
    }
    .categoryDataExamTitle{
        font-size:4vw;
        font-family: "PeydaMedium";
        color: #707070;
    }
    .categoryDataExamDescription{
        font-size: 3vw;
        font-family: "PeydaLight","Peyda";
        color: #747A82;
    }
    .categoryDataText{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    /* slide show */
    
    .mySlides {display: none}
    .mySlides img {vertical-align: middle;}
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 100%;
      position: relative;
      margin: auto;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -8%;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    }
    .prev{
        margin-left: 5%;
    }
    .next{
        margin-right: 5%;
    }
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 5px;
      width: 5px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #F64162;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    #mobileDotSlider{
        margin-top:-10%;
    }
}
@media (max-width:576px) 
{

    #DesktopComponents
        {
            display: none;
        }
}
@media (min-width:576px) 
{  
    #DesktopDashboardExamCategoryHeader{
        display:flex;
        color:#fff;
        direction:rtl;
        margin-top:5%;
        margin-right: 10%;
        /* margin-bottom:5%; */
        font-size: 1.5rem;
        justify-content:flex-start;
    }
    #DesktopDashboardExamCategoryHeader img{
        width:15%;
    }
    #DesktopDashboardExamCategoryHeader span{
        align-self: center;
    }
    #DesktopDashboardExamCategoryContainer{
        background-color:#F9FAFC;
        /* background-image: linear-gradient(to right,  #F64162, #ff5865); */
        height:auto;
        border-radius:20px;
        margin-left: 3%;
        margin-right: 3%;
        padding-bottom: 5%;
    }
    #DesktopDashboardExamCategoryImage{
        width:100%;
        text-align: center;
    }
    #DesktopDashboardExamCategoryImage img{
        width:15%;
        margin-top: -7%;
    }
    
    #DesktopDashboardExamFooterButton{
        background-color: #c11445;
        border-radius:20px;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 3%;
        height:10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #fff;
        direction:rtl;
    }
    #DesktopDashboardExamFooterButton img{
        max-width:40%;
        margin-top: 10%;
    }
    #DesktopDashboardExamExitButton{
        display: flex;
        direction:rtl;
        justify-content:flex-start;
        color: #fff;
        margin-top: 3%;
        margin-right: 5%;
    }
    #DesktopDashboardExamExitButton img{
        width:3%;
    }
    
    #DesktopDashboardExamExitButton a{
        align-self: center;
        text-decoration: none;
        color: #fff;
        font-size: 2vw;
    }
    #DesktopDashboardExamCategorySlider{
        margin-top: -5%;
    }
    .DesktopCategoryContainer{
        background-color: #fff;
        border-radius: 20px;
        margin-top: 3%;
        display: flex;
        align-items: center;
        justify-content:space-between;
        direction:ltr;
        margin-left: 3%;
        margin-right: 3%;
        padding:2%;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        cursor: pointer;
    }
    .DesktopCategoryContainer.disabled{
       
        cursor: default;
    }
    .categoryData{
        display: flex;
        justify-content:flex-end;
        align-items:center;
        flex-direction: row;
        direction:rtl;
    }
    .categoryData hr{
        height: 6vh;
    }
    .categoryDataImages{
        width: 100%;
        max-width:20%;
        margin-right: 8%;
    }
    .categoryDataExamTitle{
        font-size:2vw;
        font-family: "PeydaMedium";
        color: #707070;
    }
    .categoryDataExamDescription{
        font-size: 2vw;
        font-family: "PeydaLight","Peyda";
        color: #747A82;
    }
    .categoryDataText{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    /* slide show */
    
    .mySlides {display: none}
    .mySlides img {vertical-align: middle;}
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 100%;
      position: relative;
      margin: auto;
    }
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -8%;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    }
    .prev{
        margin-left: 5%;
    }
    .next{
        margin-right: 5%;
    }
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 5px;
      width: 5px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #F64162;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    #DesktopDotSlider{
        margin-top:-10%;
    }
    #KhoshNazarText {
        font-size: 2vw;
        margin-top: -2%;
        font-family: "PeydaRegular";
    }
    #GoBack {
        font-size: 2vw;
        font-family: "PeydaRegular";
    }
    #SidbarGoBack {
        font-size: 2vw;
        font-family: "PeydaRegular";
    }
    
    #KhoshNazarText {
        font-size: 2vw;
        margin-top: 2%;
        font-family: "PeydaRegular";
        color: white;
        text-align: center;
    }
}
@media screen and (max-width:576px){
   
    #MobileExamsHeader{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-top:5%;
        margin-right: 5%;
    }
    #MobileExamsHeader img{
        width: 100%;
        max-width: 15%;
        border-radius: 50%;
        padding-left: 8px;
    }
    #MobileExamsHeader span{
        color: #fff;
    }
    #MobileExamsBody{
        max-width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top:5%;
        height:70vh;
        overflow: hidden;
        overflow-y: scroll;
    }
    #MobileExamsContainer{
        background-color: #F9FAFC;
        border-radius: 20px;
        padding:3%;
        direction:rtl;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 10%;
    }
    #MobileExamsExitButton{
        display: flex;
        direction:rtl;
        justify-content:flex-start;
        color: #fff;
        margin-top: 3%;
        margin-right: 5%;
    }
    #MobileExamsExitButton img{
        width:8%;
    }
    
    #MobileExamsExitButton a{
        align-self: center;
        text-decoration: none;
        color: #fff;
        font-size: 3vw;
    }
    #MobileExamsContainerHeader{
        text-align: center;
    }
    #MobileExamsContainerHeader img{
        width: 100%;
        max-width: 18%;
    }
    #MobileExamsContainerHeader span{
        color: #707070;
        font-size:4vw;
        font-family: "PeydaMedium";
    }
    #MobileExamsCardKhoshNazarAvatar{
        width: 100%;
        max-width: 15%;
        margin-right: -10%;
    }
    .MobileExamsContainerSeprator{
        background-color: #b9b9b9;
        margin-right: 5%;
        margin-left: 5%;
        width: 100%;
        height: 1px;
    }
    #MobileExamsContainerMiddle{
        display: flex;
        justify-content:center;
        margin-top:-12%;
        align-items:center;
    }
    #MobileExamsContainerStars{
        display: flex;
        justify-content: center;
        align-items:flex-start;
    }
    #MobileExamsContainerStars img{
        width: 100%;
        max-width: 30%;
    }
    #MobileExamsBottomArrow{
        text-align: center;
    }
    #MobileExamsBottomArrow img{
        width: 100%;
        max-width: 6%;
    }
    #MobileExamsBodyContainer{
        margin-top: 8%;
        margin-bottom: 8%;
        text-align: center;
    }
    #MobileExamsBodyContainer span{
        font-size:10px;
        font-family: "PeydaRegular";
        color: #707070;
    }
    #MobileExamsFooterContainer{
        display:flex;
        justify-content: center;
    }
    #MobileExamsFooterContainer a{
        text-decoration: none;
        color: #F9FAFC;
        background-color: #01c98a;
        border:1px solid #F9FAFC;
        font-size:3vw;
        padding-left:10%;
        padding-right:10%;
        padding-top:3%;
        padding-bottom:3%;
        font-family: "PeydaRegular";
        border-radius: 20px;
        margin-bottom:-9%;
    }
}
@media screen and (min-width: 577px) {
    #MobileExamsHeader{
        display: none;
    }
    #MobileExamsBody{
        display: none;
    }
    #MobileExamsExitButton{
        display: none;
    }
}

@media (min-width:576px){
   
    #DesktopExamsHeader{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-top:5%;
        margin-right: 5%;
    }
    #DesktopExamsHeader img{
        width: 100%;
        max-width: 15%;
    }
    #DesktopExamsHeader span{
        color: #fff;
    }
    #DesktopExamsBody{
        max-width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top:5%;
        height:70vh;
       
        /*overflow:hidden
        overflow-y: scroll;*/
    }
    #DesktopExamsContainer{
        background-color: #F9FAFC;
        border-radius: 20px;
        padding:3%;
        direction:rtl;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 10%;
    }
    #DesktopExamsExitButton{
        display: flex;
        direction:rtl;
        justify-content:flex-end;/*flex-start;*/
        color: #fff;
        /* margin-top: 3%; */
        margin-left: 5%; 
        /* margin-right: 5%; */
    }
    #DesktopExamsExitButton img{
        width:3%;
    }
    
    #DesktopExamsExitButton a{
        align-self: center;
        text-decoration: none;
        color: #fff;
        font-size: 2vw;
    }
    #DesktopExamsContainerHeader{
        text-align: center;
    }
    #DesktopExamsContainerHeader img{
        width: 100%;
        max-width: 10%;
    }
    #DesktopExamsContainerHeader span{
        color: #707070;
        font-size:2vw;
        font-family: "PeydaMedium";
    }
    #DesktopExamsCardKhoshNazarAvatar{
        width: 100%;
        max-width: 12%;
        margin-right: -10%;
    }
    .DesktopExamsContainerSeprator{
        background-color: #b9b9b9;
        margin-right: 5%;
        margin-left: 5%;
        width: 100%;
        height: 1px;
    }
    #DesktopExamsContainerMiddle{
        display: flex;
        justify-content:center;
        margin-top:-12%;
        align-items:center;
    }
    #DesktopExamsContainerStars{
        display: flex;
        justify-content: center;
        align-items:flex-start;
    }
    #DesktopExamsContainerStars img{
        width: 100%;
        max-width: 30%;
    }
    #DesktopExamsBottomArrow{
        text-align: center;
    }
    #DesktopExamsBottomArrow img{
        width: 100%;
        max-width: 6%;
    }
    #DesktopExamsBodyContainer{
        margin-top: 8%;
        margin-bottom: 8%;
        text-align: center;
    }
    #DesktopExamsBodyContainer span{
        font-size:16px;
        font-family: "PeydaRegular";
        color: #707070;
    }
    #DesktopExamsFooterContainer{
        display:flex;
        justify-content: center;
    }
    #DesktopExamsFooterContainer a {
        text-decoration: none;
        color: #F9FAFC;
        background-color: #01c98a;
        border: 1px solid #F9FAFC;
        font-size: 17pt;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
        padding-bottom: 1%;
        font-family: "PeydaRegular";
        border-radius: 20px;
        margin-bottom: -5%;
    }
    #KhoshNazarText {
        font-size: 2vw;
        margin-top: 2%;
        font-family: "PeydaRegular";
        color: white;
        text-align: center;
    }
    #MobileComponents
    {
        display: none;
    }
}
@media screen and (max-width: 576px) {
    #DesktopExamsHeader{
        display: none;
    }
    #DesktopExamsBody{
        display: none;
    }
    #DesktopExamsExitButton{
        display: none;
    }
    #DesktopComponents
    {
        display: none;
    }
}
@media screen and (max-width:576px){
   
    #MobileDiscriptionContainerHeader{
        display:flex;
        justify-content: center;
        flex-direction: row;
        margin-top:2%;
    }
    #MobileDiscriptionContainerHeader img{
        width:15%;
    }
    #MobileDiscriptionContainerInformations{
        text-align:right;
        margin-right: 5%;
    }
    .MobileDiscriptionContainerInformationsElements{
        display:flex;
        justify-content:flex-end;
        align-items:center;
        margin-bottom:2%;
        gap:2%;
    }
    .MobileDiscriptionContainerInformationsElements img{
        width:100%;
        max-width: 8%;
    }
    .MobileDiscriptionContainerInformationsElements span{
        font-size:4vw;
        font-family: "PeydaMedium";
        color:#707070;
    }
    #MobileDiscriptionContainerDescriptions{
        direction:rtl;
        color: #707070;
        font-family: "PeydaMedium";
        margin-left: 2%;
        font-size:4vw;
    }
    #MobileDiscriptionContainerDescriptions li{
        margin-bottom:1%;
    }
    #MobileDescriptionStartExamButtonContainer{
        text-align:center;
    }
    #MobileDescriptionStartExamButtonContainer a{
        color:#fff;
        background-color:#01c98a;
        text-decoration: none;
        padding-left:5%;
        padding-right:5%;
        padding-top:1%;
        padding-bottom:1%;
        border-radius: 10px;
    }
}
@media screen and (min-width: 577px) {
    
}
@media (max-width:576px) 
{

    #DesktopComponents
        {
            display: none;
        }
}
@media (min-width:576px) 
{  
    #DesktopDiscriptionContainerHeader{
        display:flex;
        justify-content: center;
        flex-direction: row;
        margin-top:2%;
    }
    #DesktopDiscriptionContainerHeader img{
        width:15%;
    }
    #DesktopDiscriptionContainerInformations{
        text-align:right;
        margin-right: 5%;
    }
    .DesktopDiscriptionContainerInformationsElements{
        display:flex;
        justify-content:flex-end;
        align-items:center;
        margin-bottom:2%;
        gap:2%;
    }
    .DesktopDiscriptionContainerInformationsElements img{
        width:100%;
        max-width: 8%;
    }
    .DesktopDiscriptionContainerInformationsElements span{
        font-size:2vw;
        font-family: "PeydaMedium";
        color:#707070;
    }
    #DesktopDiscriptionContainerDescriptions{
        direction:rtl;
        color: #707070;
        font-family: "PeydaMedium";
        margin-left: 2%;
        font-size:2vw;
    }
    #DesktopDiscriptionContainerDescriptions li{
        margin-bottom:1%;
    }
    #DesktopDescriptionStartExamButtonContainer{
        text-align:center;
    }
    #DesktopDescriptionStartExamButtonContainer a{
        color:#fff;
        background-color:#01c98a;
        text-decoration: none;
        padding-left:5%;
        padding-right:5%;
        padding-top:1%;
        padding-bottom:1%;
        border-radius: 10px;
    }
  
    #MobileExamDescriptionIcons img {
        width: 55%!important;}
 #MobileExamDescriptionIcons figcaption {
        font-size: 2vw!important;
 }
}
@media screen and (max-width:576px) {
   
    .MobileShowExamQuestionContainer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap:3%;
    }
    .MobileQuestionNumber{
        background-color: #c11445;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        color: #F9FAFC;
        font-family: "PeydaMedium";
        /* text-align: center; */
        padding: 5px;
        -moz-text-align-last: center;
             text-align-last: center;
    }
    .MobileShowExamAnswer{
        direction:rtl;
        margin-left:5%;
        margin-right:5%;
    }
    .MobileQuestionTitle{
        color: #707070;
        font-family: "PeydaMedium";
    }
    .MobileShowExamAnswer{
        color: #707070;
        font-family: "PeydaLight","Peyda";
    }
    .MobileShowExamQuestionRadioButton{
        width:20px;
        height:20px;
        background-color: #707070;
        border-radius:50%;
    }
    .MobileShowExamAnswerRows{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: hsl(120, 2%, 82%);
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #c11445;
        content: '';
        display: inline-block;
        visibility: visible; 
        border: 2px solid white;
    }
    .MobileShowExamAnswerDot{
        cursor: pointer;
      height: 5px;
      width: 5px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    #MobileShowExamQuizeEndButton{
        text-align: center;
        margin-top:5%;
    }
    #MobileShowExamQuizeEndButtonA{
        /* display: none; */
        background-color:#01c98a;
        color: #F9FAFC;
        font-size:4vw;
        border-radius:12px;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left:5%;
        padding-right:5%;
        font-family: "PeydaRegular";
        text-decoration: none;
        cursor: pointer;
    }
    #MobileShowExamQuizeEndButtonDisableA{
        background-color: gray;
        color: #F9FAFC;
        font-size:4vw;
        border-radius:12px;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left:5%;
        padding-right:5%;
        font-family: "PeydaRegular";
        text-decoration: none;
    }
}
@media screen and (min-width: 577px) {
    .MobileShowExamQuestionContainer{
        display: none;
    }
}
@media (min-width: 577px) {
    #MobileExamQuizeHeader figcaption{
        font-size:2vw!important;
    }
    #MobileExamQuizeDescription
    {
        margin-top: 0!important;
    }
    .MobileShowExamQuestionContainer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap:3%;
    }
    .MobileQuestionNumber{
        background-color: #c11445;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        color: #F9FAFC;
        font-family: "PeydaMedium";
        /* text-align: center; */
        padding: 5px;
        -moz-text-align-last: center;
             text-align-last: center;
    }
    .MobileShowExamAnswer{
        direction:rtl;
        margin-left:5%;
        margin-right:5%;
    }
    .MobileQuestionTitle{
        color: #707070;
        font-family: "PeydaMedium";
    }
    .MobileShowExamAnswer{
        color: #707070;
        font-family: "PeydaLight","Peyda";
    }
    .MobileShowExamQuestionRadioButton{
        width:20px;
        height:20px;
        background-color: #707070;
        border-radius:50%;
    }
    .MobileShowExamAnswerRows{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: hsl(120, 2%, 82%);
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #c11445;
        content: '';
        display: inline-block;
        visibility: visible; 
        border: 2px solid white;
    }
    .MobileShowExamAnswerDot{
        cursor: pointer;
      height: 5px;
      width: 5px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    #MobileShowExamQuizeEndButton{
        text-align: center;
        margin-top:5%;
    }
    #MobileShowExamQuizeEndButtonA{
        /* display: none; */
        background-color: #01c98a;
        color: #F9FAFC;
        font-size:2vw;
        border-radius:12px;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left:5%;
        padding-right:5%;
        font-family: "PeydaRegular";
        text-decoration: none;
        cursor: pointer;
    }
    #MobileShowExamQuizeEndButtonDisableA{
        background-color: gray;
        color: #F9FAFC;
        font-size:4vw;
        border-radius:12px;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left:5%;
        padding-right:5%;
        font-family: "PeydaRegular";
        text-decoration: none;
    }
    #MobileComponents
    {
        display: none;
    }
}
@media screen and (max-width: 576px) {

#DesktopComponents
{
    display: none;
}
}
@media screen and (max-width:576px){
  
    #MobileConclusionShow{
        text-align:center;
    }
    #MobileConclusionShow img{
        /* width:20%; */
         width:23%;
    }
    #MobileConclusionShowScore{
        text-align:center;
        color: #707070;
        font-family: "PeydaMedium";
        font-size:4vw;
        margin-top: 2%;
    }
    #MobileConclusionShowScore span{
        color: #c11445;
        font-size: 6vw;
    }
    #MobileConclusionShowDescription{
        color: #707070;
        font-family:"PeydaRegular";
        font-size:4vw;
    }
    #MobileConclusionShowGoBackButton{
        text-align: center;
    }
    #MobileConclusionShowGoBackButton a{
        background-color: #01c98a;
        color:#fff;
        font-size:4vw;
        text-decoration: none;
        padding-left:5%;
        padding-right:5%;
        padding-top:1%;
        padding-bottom:1%;
        border-radius: 10px;
    }
}
@media screen and (min-width: 577px) {
    #MobileConclusionShow{
        display:none;
    }
    #MobileConclusionShowScore{
        display:none;
    }
    #MobileConclusionShowDescription{
        display: none;
    }
    #MobileConclusionShowGoBackButton{
        display: none;
    }
}
@media (max-width:576px) 
{

    #DesktopComponents
        {
            display: none;
        }
}
@media (min-width:576px) 
{  
  
    #MobileConclusionShow{
        text-align:center;
    }
    #MobileConclusionShow img{
        /* width:13%; */
         width:23%;
    }
    #MobileConclusionShowScore{
        text-align:center;
        color: #707070;
        font-family: "PeydaMedium";
        font-size:2vw;
        margin-top: 2%;
    }
    #MobileConclusionShowScore span{
        color: #c11445;
        font-size: 4vw;
    }
    #MobileConclusionShowDescription{
        color: #707070;
        font-family:"PeydaRegular";
        font-size:2vw;
    }
    #MobileConclusionShowGoBackButton{
        text-align: center;
    }
    #MobileConclusionShowGoBackButton a{
        background-color: #01c98a;
        color:#fff;
        font-size:2vw;
        text-decoration: none;
        padding-left:5%;
        padding-right:5%;
        padding-top:1%;
        padding-bottom:1%;
        border-radius: 10px;
    }
    
}

@font-face {
    font-family: "PeydaLight";
    src: url("/../font/peyda-light.ttf");
}
@font-face {
    font-family: "PeydaRegular";
    src: url("/../font/Peyda-Regular.ttf");
}
@font-face {
    font-family: "PeydaMedium";
    src: url("/../font/Peyda-Medium.ttf");
}
@media screen and (max-width:576px){
    
    body{
        background-image: url("/../images/loginMobileBackground.png");
        background-size:cover;
        background-repeat: no-repeat;
        height:100vh;
        overflow: hidden;
        font-family:"PeydaLight";
        background-image: linear-gradient(to right,  #F64162, #ff5865);
    }
    .DesktopComponents{
        display: none;
    }
    #menuavatar
    {
            display: flex;
            flex-direction: column;
            font-size: 12pt;
            align-items: center;
    }
    #menuavatar img
    {
        width: 34%;
    }
}
@media screen and (min-width: 577px) {
    .MobileComponents{
       display: none;
    }
    body{
        /*background-image: url("/../images/loginMobileBackground.png");*/
        /* background: #F9FAFC!important; */
        background-size:cover;
        background-repeat: no-repeat;
        height:100vh; 
        overflow: hidden;
        font-family:"Peyda"!important;
        background-image: linear-gradient(to right,  #F64162, #ff5865);
    }
    #DescktopMenue
    {
        background-color: #F64162;
        box-shadow: 0 .5rem 1rem #F64162!important;
        color: #F9FAFC;
    }
    .container
    {
        background: #F9FAFC;
    }
}
