@media (min-width: 577px) {
    #MobileExamQuizeHeader figcaption{
        font-size:2vw!important;
    }
    #MobileExamQuizeDescription
    {
        margin-top: 0!important;
    }
    .MobileShowExamQuestionContainer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap:3%;
    }
    .MobileQuestionNumber{
        background-color: #c11445;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        color: #F9FAFC;
        font-family: "PeydaMedium";
        /* text-align: center; */
        padding: 5px;
        text-align-last: center;
    }
    .MobileShowExamAnswer{
        direction:rtl;
        margin-left:5%;
        margin-right:5%;
    }
    .MobileQuestionTitle{
        color: #707070;
        font-family: "PeydaMedium";
    }
    .MobileShowExamAnswer{
        color: #707070;
        font-family: "PeydaLight","Peyda";
    }
    .MobileShowExamQuestionRadioButton{
        width:20px;
        height:20px;
        background-color: #707070;
        border-radius:50%;
    }
    .MobileShowExamAnswerRows{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: hsl(120, 2%, 82%);
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #c11445;
        content: '';
        display: inline-block;
        visibility: visible; 
        border: 2px solid white;
    }
    .MobileShowExamAnswerDot{
        cursor: pointer;
      height: 5px;
      width: 5px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    #MobileShowExamQuizeEndButton{
        text-align: center;
        margin-top:5%;
    }
    #MobileShowExamQuizeEndButtonA{
        /* display: none; */
        background-color: #01c98a;
        color: #F9FAFC;
        font-size:2vw;
        border-radius:12px;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left:5%;
        padding-right:5%;
        font-family: "PeydaRegular";
        text-decoration: none;
        cursor: pointer;
    }
    #MobileShowExamQuizeEndButtonDisableA{
        background-color: gray;
        color: #F9FAFC;
        font-size:4vw;
        border-radius:12px;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left:5%;
        padding-right:5%;
        font-family: "PeydaRegular";
        text-decoration: none;
    }
    #MobileComponents
    {
        display: none;
    }
}
@media screen and (max-width: 576px) {

#DesktopComponents
{
    display: none;
}
}